In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from math import *

In [4]:
data = pd.read_excel('./Quant_Expert/Test1.xlsx')
data.head(5)

        Data      Preço   Retorno  Sinal
0 2020-06-25  100.00000       NaN      1
1 2020-06-26  100.10290  0.001029      1
2 2020-06-29  100.25808  0.001550     -1
3 2020-06-30  100.01000 -0.002474      1
4 2020-07-01  101.33488  0.013247      1